<div class="p-a" style="width: 100%">

  <div class="card">
    <h4 class="text-normal m-a-0 btn-toggle-next border-a border-1 border-grey hover-transition hover-border-aqua">
      <button class="item-flex btn-reset btn-block text-600 btn-resource-filters-toggle p-l p-r-sm p-y-sm" aria-expanded="false">
        {{contentType}}
        <span class=" m-l-auto p-l-sm border-l border-grey border-1"><svg class="icon icon-normal"><use xlink:href="#icon-dropdown"></use></svg></span>
      </button>
    </h4>
    <div id="resource-filters" class="border-1 border-b border-r border-l border-grey filter-card">
      <div *ngFor="let item of items" class="p-a hover-bg-grey-lighter">
        <input type="checkbox"
                [name]="item.name"
                [id]="item.name"
                class="filter form-checkbox"
                data-value="{{item.label}}"
                (click)="onItemSelect($event)"/>
        <label class="form-checkbox-label item-flex" for="{{item.name}}">{{item.label}}</label>
      </div>

    </div>
  </div>
</div>
