<div class="p-a" style="width: 100%">

  <div class="card">
    <h4 class="text-normal m-a-0 btn-toggle-next border-a border-1 border-grey hover-transition hover-border-aqua">
      <button class="item-flex btn-reset btn-block text-600 btn-resource-filters-toggle p-l p-r-sm p-y-sm" aria-expanded="false">
        {{contentType}}
        <span class=" m-l-auto p-l-sm border-l border-grey border-1"><svg class="icon icon-normal"><use xlink:href="#icon-dropdown"></use></svg></span>
      </button>
    </h4>
    <div id="resource-filters" class="border-1 border-b border-r border-l border-grey filter-card">
      <div class="p-a hover-bg-grey-lighter">
        <input type="checkbox" name="customer" id="customer" class="filter form-checkbox" data-value="Customer Story" />
        <label class="form-checkbox-label item-flex" for="customer">Customer Stories</label>
      </div>

      <div class="p-a hover-bg-grey-lighter">
        <input type="checkbox" name="whitepaper" id="whitepaper" class="filter form-checkbox" data-value="White Paper" />
        <label class="form-checkbox-label item-flex" for="whitepaper">White Papers</label>
      </div>

      <div class="p-a hover-bg-grey-lighter">
        <input type="checkbox" name="webinar" id="webinar" class="filter form-checkbox" data-value="On-Demand Webinar" />
        <label class="form-checkbox-label item-flex" for="webinar">On-Demand Webinars</label>
      </div>

      <div class="p-a hover-bg-grey-lighter">
        <input type="checkbox" name="webinar-live" id="webinar-live" class="filter form-checkbox" data-value="Live Webinar" />
        <label class="form-checkbox-label item-flex" for="webinar-live">Live Webinars</label>
      </div>

      <div class="p-a hover-bg-grey-lighter">
        <input type="checkbox" name="factsheet" id="factsheet" class="filter form-checkbox" data-value="Factsheet" />
        <label class="form-checkbox-label item-flex" for="factsheet">Factsheets</label>
      </div>

    </div>
  </div>
</div>
