.filter-card {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: white;
}

.btn-resource-filters-toggle svg {
  transform: rotate(180deg);
}
.btn-resource-filters-toggle.is-toggled svg {
  transform: rotate(0deg);
}
