<div class="disw-sub-header" id="disw-sub-header">
  <div class="container disw-sub-header-container">
    <div class="disw-subsite">
      <a href="#" id="subNavHdr">Siemens Software Newsroom</a>
    </div>
    <input type="checkbox" id="subNavHdrMobileHdr" />
    <label for="subNavHdrMobileHdr"
      >Siemens Software Newsroom</label
    >
    <nav
      class="disw-nav-secondary"
      aria-label="Secondary"
      aria-labelledby="subnavHeader"
    >
      <ul>
        <li class="active">
          <a href="#" aria-current="page">Overview</a>
        </li>
        <li>
          <a href="#">All News</a>
        </li>
        <li>
          <a href="#">Blogs</a>
        </li>
        <li>
          <a href="#">Resources</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
