<!--https://zeroheight.com/247bb2e30/v/latest/p/079890-headings/b/524232-->
<div class="bg-white p-a-sm">
  <div>
    <div class="group-focus">
      <strong class="text-kicker">SIEMENS DIGITAL INDUSTRIES</strong>
      <h1>Newroom</h1>
    </div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia quis vitae, est soluta voluptate quos ratione animi. El ipsum dolor sit amet consectetur adipisicing eli.</p>
    <div class="btn-stack">
      <div class="social-media-icons">
        <svg aria-hidden="true" class="icon icon-sm">
          <use xlink:href="#icon-linkedin"></use>
        </svg>
        <a class="btn-text icon-label" href="#">Follow on Linkedin</a>
      </div>
      <div class="social-media-icons m-md-l-md">
        <svg aria-hidden="true" class="icon icon-sm">
          <use xlink:href="#icon-instagram"></use>
        </svg>
        <a class="btn-text icon-label" href="#">Download full bio</a>
      </div>
      <div class="social-media-icons m-md-l-md">
        <svg aria-hidden="true" class="icon icon-sm">
          <use xlink:href="#icon-facebook"></use>
        </svg>
        <a class="btn-text icon-label" href="#">Download press photo</a>
      </div>
    </div>
  </div>
</div>
