<!--https://zeroheight.com/247bb2e30/v/latest/p/266b3d-promos/b/936e0e-->
<div class="bg-grey-light">
  <!--container-->
  <div class="container p-a-sm">
      <div class="row align-items-center m-y">
          <div class="col-md-6 col-xs-12 space-children">
              <strong class="text-kicker">Featured</strong>
              <h3 class="m-t-xs">Mauris erat augue, luctus eget elit eget, faucibus tincidunt dolor</h3>
              <p>Maecenas rutrum, lacus <strong>vitae ornare</strong> molestie, magna sem luctus erat, dignissim tempor est enim ac mi. Phasellus at lectus eget odio tristique luctus id vel magna.</p>
              <a href="#" class="btn btn-secondary m-b-md m-md-b-0">Read Featured</a>
          </div>
          <div class="col-md-6 col-xs-12">
              <div class="pos-r embed-responsive embed-responsive-16by9 m-b-0">
                 <img
                    src="https://images.sw.cdn.siemens.com/vision/sirisvisual-g9jLj8Q3hhI-unsplash.jpg?w=900&format=auto&q=60"
                    srcset="
                      https://images.sw.cdn.siemens.com/vision/sirisvisual-g9jLj8Q3hhI-unsplash.jpg?w=500&format=auto&q=70 500w,
                      https://images.sw.cdn.siemens.com/vision/sirisvisual-g9jLj8Q3hhI-unsplash.jpg?w=900&format=auto&q=60 900w,
                      https://images.sw.cdn.siemens.com/vision/sirisvisual-g9jLj8Q3hhI-unsplash.jpg?w=1300&format=auto&q=50 1300w,
                      https://images.sw.cdn.siemens.com/vision/sirisvisual-g9jLj8Q3hhI-unsplash.jpg?w=1700&format=auto&q=40 1700w"
                      class="embed-responsive-item"
                      sizes="(min-width: 735px) 900px, 100vw"
                      alt="Some great alternative text"
                      loading="lazy"
                      />
                <!-- FPO - optional trigger to launch full image in a new lightbox/overlay with additional javascript-->
                <a href="https://images.sw.cdn.siemens.com/vision/sirisvisual-g9jLj8Q3hhI-unsplash.jpg" class="btn-circle btn-circle-sm pos-a" style="top:1em;right:1em">
                  <svg class="btn-circle-icon"><use xlink:href="#icon-maximize"></use></svg>
                </a>
              </div>
          </div>
      </div>
  </div>
  <!-- /container -->
</div>
