<div>
  <div>
    <div><h2>Filter by</h2></div>
    <div class="article-filters">
      <app-dropdown-filter [contentType]="categoriesDropdown.name"
                           [items]="categoriesDropdown.items"
                           (itemsSelected)="onCategoriesSelected($event)">
      </app-dropdown-filter>
      <app-dropdown-filter [contentType]="yearDropdown.name"
                           [items]="yearDropdown.items"
                           (itemsSelected)="onYearPublishedSelected($event)">
      </app-dropdown-filter>
      <app-dropdown-filter [contentType]="topicDropdown.name"
                           [items]="topicDropdown.items">
      </app-dropdown-filter>
    </div>
  </div>

  <!--https://zeroheight.com/247bb2e30/v/latest/p/079890-headings/b/524232-->
  <div *ngFor="let category of categoryArticleMap.keys()" class="bg-white p-a-sm display-flex">
    <div class="col-md-9">
      <div>
        <div class="group-focus">
          <strong class="text-kicker">News</strong>
          <h1>{{category}}</h1>
        </div>
        <p>{{getCategoryDescription(category)}}</p>
      </div>
      <div>
        <app-basic-article *ngFor="let article of categoryArticleMap.get(category)"
                            [category]="article.category"
                            [headerText]="article.headerText"
                            [previewText]="article.previewText"
                            [publishDate]="article.publishDate">
        </app-basic-article>
      </div>
      <div class="article-group-footer display-flex justify-content-center">
        <h3><a href="#" class="btn-text m-b-md m-md-b-0">See More</a></h3>
      </div>
    </div>
    <div *ngIf="category === 'Press Release'" class="col-md-3 p-x-md press-contact">
      <h4>Press Contact</h4>
      <div>First Name Last Name</div>
      <div><a href="#">first.last@siemens.com</a></div>
      <div>First Name Last Name</div>
      <div><a href="#">first.last@siemens.com</a></div>
    </div>
  </div>

</div>
