<div>
  <div>
    <div><h2>Filter by</h2></div>
    <div class="article-filters">
      <app-dropdown-filter [contentType]="'Category'"></app-dropdown-filter>
      <app-dropdown-filter [contentType]="'Placeholder'"></app-dropdown-filter>
      <app-dropdown-filter [contentType]="'Placeholder'"></app-dropdown-filter>
    </div>
  </div>
  <app-basic-article></app-basic-article>
  <app-basic-article></app-basic-article>
  <app-basic-article></app-basic-article>
  <app-basic-article></app-basic-article>
</div>
